@media (max-width: 550px) {
  #scroller-mobile-view{
    display:none;
  }
  #tanbox{
  	width:100%;
  	margin: 5px auto;
  	right:20%;

  }
#info{
  	width:100%;
  	margin: 5px auto;
  	height:50%;
  	text-align:center;
  }
  #info p{
  	padding:5%;
  }
 #bottom-content-box{
 	margin-left: 0%;
 }
 #top-logo {
   height: 50%;
   width: 50%;
   right:12%;


 }
 #facebook-like {
   width:30%;
   height:60%;
   right:40%;
   position:relative;
 }
 #menu-specs{
   width:500px;
   height:1000px;
   margin:0 auto;

 }
}
@media (min-width: 551px) and (max-width: 1050px) {
  #scroller-mobile-view{
    width:60%;
    margin:0px 0px 0px 0px;
  }
  #tanbox{
  	width:25%;
    height:200px;
  	margin:0 auto;


  }
  #promo-box{
    width:100%;
    margin-left:0;
    margin:0 auto;

  }
  #reservations {
  font-size: 1em;
  margin-bottom: 2%;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding: 0;
}
#info{
  	width:80%;
  	margin: 5px 2px 5px 100px;
  	height:500px;
  	text-align:center;
  }
  #info h1{
    font-size:3em;
  }
  #info p{
  font-size:1em
  	padding:2%;
  }
  h3{
  	font-size:1em;
  	font-family: Garamond;
  	font-weight:bold;
  	margin-top:0px !important;
  	margin-bottom:0px !important;
  	position:relative;

  }
  h1 {
  font-family: Garamond;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0px !important;
  margin-top: 0px !important;

  border-bottom: 3px solid #8d4458;
}
  #phone-border {
  margin: 0;
  padding: 0;
  font-size: 2em;
}
  h2{
  	font-family: Garamond;
  	font-weight:bold;
  	position:relative;
  	margin-bottom:0px !important;
  	font-size:2em;
  }
 #bottom-content-box{
 	margin-left: 0%;
 }
 #top-logo {
   height: 50%;
   width: 50%;
  margin:0 auto
  padding:0 auto

 }
 #facebook-like {
   height: 20%;
   width: 25%;
   right:35%;
   padding-bottom:2%;


 }
 #menu-color{
	width:100%;
}
#menu-color ul{
 width:100%;


}
#menu-color li{
  padding:0px 10px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align:left;
  font-size:2em;


}
 #bottom-content-box{
  margin-left: 0%;
  width:100%;
 }
 #info{
    width:33%;
    margin: 0 auto;
    height:50%;
    font-size:1em;
    text-align:center;
  }
  #menu-specs{
    width:500px;
    height:1000px;
    margin:0 auto;

  }

}
@media (min-width: 1050px) and (max-width:1400px) {
 #scroller-mobile-view{
    width:60%;
    margin:0px 0px 0px 0px;
  }
  #tanbox{
    width:25%;
    height:20%;
    margin:0 auto;


  }
  #promo-box{
    width:100%;
    margin-left:0;
    margin:0 auto;

  }
#info{
    width:80%;
    margin: 5px 2px 5px 100px;
    height:500px;
    text-align:center;
  }
  #info h1{
    font-size:3em;
  }
  #info p{
    word-wrap: break-word;
    padding:2%;
  }
 #bottom-content-box{
  margin-left: 0%;
 }
#menu-color{
  width:100%;
}
#menu-color ul{
 width:100%;

}
#menu-color li{
  padding:0px 10px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align:left;
  font-size:2em;


}
 #bottom-content-box{
  margin-left: 0%;
  width:100%;
 }
 #info{
    width:33%;
    margin: 0 auto;
    height: 500px;
    font-size:1em;
    text-align:center;
  }
  #top-logo {
    height: 32%;
    width: 32%;

  }
  #facebook-like {
    height: 7%;
    width: 12%;
    right:12%;


  }
  #menu-specs{
    width:700px;
    height:1000px;
  }
  #menu-box{
    margin-left:12%;
  }
}
@media (min-width:1400px){
  #menu-color ul{
    width:100%;

}
#menu-color li{
  padding:0px 0px 0px 0px;
  margin: 15px 20px 20px 20px;
  text-align:left;
  font-size:3em;


}
 #tanbox{

    height:20%;
    width:20%;
    margin:.5%;
    margin-right:4%;


  }
  #promo-box{
    width:100%;
    margin-left: 2.5%;

  }
#info{
    width:25%;
    margin: 5px 2px 5px 100px;
    height:500px;
    text-align:center;
  }
  #info h1{
    font-size:3em;
  }
  #info p{
    word-wrap: break-word;
    padding:2%;
  }
 #bottom-content-box{
  margin-left: 0%;
 }
#top-logo {
  height: 30%;
  width: 30%;

}
#facebook-like {
  height: 5%;
  width: 10%;
  right:10%;

}
#menu-specs{
  width:900px;
  height:1000px
}
#menu-box{
  margin-left:12%;
}
}
